* {
	box-sizing: border-box;
}

html, body {
	background-image: url("../img/background.png");
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

#content h1, #content h2 {
	text-align: center;
	background-color: #d42222;
	width: 100%;
}

p {
	text-align: justify;
	text-indent: 50px;
	font-family: 'Poppins', sans-serif;
}

#headerImg {
	float: left;
	margin-top: 10px;
	margin-left: 15px;
}

#headerContent {
	text-align: left;
	font-family: 'Poppins', sans-serif;
	background-color: black;
	color: white;
	padding: 12px;
}

#headerMenu {
	font-size: 30px;
	float: right;
	padding-right: 40px;
	padding-top: 40px;
}

#headerMenu a {
	border: 2px solid #d42222;
	margin: auto 10px auto 10px;
	padding: 15px 20px;
	text-decoration: none;
}

a:link {
	color: white;
}

a:visited {
	color: white;
}

a:hover {
	color: white;
	background-color: #d42222;
}

#content {
	margin-left: 15%;
	margin-right: 15%;
	min-height: 100%;
}

#sideContent {
	background-color: black;
	color: white;
	width: 35%;
	float: left;
	border: 5px solid #d42222;
	padding-left: 10px;
	padding-right: 10px;
	min-height: 100%;
}

#mainContent {
	background-color: black;
	color: white;
	float: right;
	width: 65%;
	padding-left: 10px;
	padding-right: 10px;
	border: 5px solid #d42222;
}

#content img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

footer {
	color: white;
	padding: 5px;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: hsl(0, 78%, 20%);
	text-align: center;
}
